################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC.Web/bin/Debug/net10.0
/.vs
/MVC.Web/obj
